doctype html
html(class="no-js", lang="ru")
    include partials/head.pug
    body
        main.main
            section.section
                h1.main-title Некоторые примеры моих работ в интернете
                ul.projects
                    li.projects__item
                        a.projects__link(href="https://ru.siberianhealth.com/ru/cyberbuild/")
                            img.projects__img(src="img/content/cb.jpg", alt="cb" importance="high" loading="eager")
                            p.projects__title Лэндинг Cyberbuild от Компании "Сибирское здоровье"
                    li.projects__item
                        a.projects__link(href="https://ru.siberianhealth.com/ru/shop/catalog/category/310/")
                            img.projects__img(src="img/content/nat.jpg", alt="nat" importance="high" loading="eager")
                            p.projects__title Продуктовый лэндинг серии витаминов
                    li.projects__item
                        a.projects__link(href="https://ru.siberianhealth.com/ru/shop/catalog/landing/252/")
                            img.projects__img(src="img/content/sp.jpg", alt="sp" importance="high" loading="eager")
                            p.projects__title Продуктовый лэндинг спортпита
                    li.projects__item
                        a.projects__link(href="https://ru.siberianhealth.com/ru/shop/catalog/landing/336/")
                            img.projects__img(src="img/content/yg.jpg", alt="yg" importance="high" loading="eager")
                            p.projects__title Продуктовый лэндинг коктейлей
                    li.projects__item
                        a.projects__link(href="https://ru.siberianhealth.com/ru/shop/catalog/product/500469/")
                            img.projects__img(src="img/content/sn.jpg", alt="sn" importance="high" loading="eager")
                            p.projects__title Карточка-лэндинг витаминов
                    li.projects__item
                        a.projects__link(href="https://ru.siberianhealth.com/ru/shop/catalog/product/500440/")
                            img.projects__img(src="img/content/pc.jpg", alt="pc" importance="high" loading="eager")
                            p.projects__title Карточка-лэндинг витаминов
                    li.projects__item
                        a.projects__link(href="https://ru.siberianhealth.com/ru/shop/catalog/product/500513/")
                            img.projects__img(src="img/content/dr.jpg", alt="dr" importance="high" loading="eager")
                            p.projects__title Карточка-лэндинг напитка
                    li.projects__item
                        a.projects__link(href="https://ru.siberianhealth.com/ru/shop/catalog/product/500458/")
                            img.projects__img(src="img/content/soup.jpg", alt="soup" importance="high" loading="eager")
                            p.projects__title Карточка-лэндинг супа
                    li.projects__item
                        a.projects__link(href="https://ru.siberianhealth.com/ru/shop/catalog/product/410016/")
                            img.projects__img(src="img/content/sc.jpg", alt="sc" importance="high" loading="eager")
                            p.projects__title Карточка-лэндинг скраба
                    li.projects__item
                        a.projects__link(href="https://ru.siberianhealth.com/ru/shop/catalog/product/500490/")
                            img.projects__img(src="img/content/mg.jpg", alt="mg" importance="low" loading="lazy")
                            p.projects__title Карточка-лэндинг батончика
                    li И многие другие...
            section.section
                h1.main-title Примеры моих работ (гитхаб)
                ul.projects
                    li.projects__item 
                        a.projects__link(href="https://stas2nd.github.io/herb-hunters/guest.html")
                            img.projects__img(src="img/content/hh.jpg", alt="hh" importance="low" loading="lazy")
                            p.projects__title Проект от Siberian Health "Охотники за травами"
                        p.projects__sub-title Другие связанные страницы:
                        ul.projects__sub-list
                            li.projects__sub-item
                                a.projects__sub-link(href="https://stas2nd.github.io/herb-hunters/referal.html") Реферальная страница
                            li.projects__sub-item
                                a.projects__sub-link(href="https://stas2nd.github.io/herb-hunters/captain.html") Страница капитана
                            li.projects__sub-item
                                a.projects__sub-link(href="https://stas2nd.github.io/herb-hunters/project.html") Страница анкеты
                    li.projects__item 
                        a.projects__link(href="https://stas2nd.github.io/history-map/index.html")
                            img.projects__img(src="img/content/hm.jpg", alt="hm" importance="low" loading="lazy")
                            p.projects__title Главная страница проекта от Яндекса "Карта Истории"
                    li.projects__item 
                        a.projects__link(href="https://stas2nd.github.io/soulvibes/soulvibes_preview/")
                            img.projects__img(src="img/content/sv.jpg", alt="sv" importance="low" loading="lazy")
                            p.projects__title Сайт онлайн-радио
                    li.projects__item 
                        a.projects__link(href="https://stas2nd.github.io/sedona/index.html")
                            img.projects__img(src="img/content/sd.jpg", alt="sd" importance="low" loading="lazy")
                            p.projects__title Сайт курорта Sedona
                        p.projects__sub-title Другие связанные страницы:
                        ul.projects__sub-list
                            li.projects__sub-item
                                a.projects__sub-link(href="https://stas2nd.github.io/sedona/hotels.html") Отели
                    li.projects__item 
                        a.projects__link(href="https://stas2nd.github.io/493425-gllacy/index.html")
                            img.projects__img(src="img/content/gl.jpg", alt="gl" importance="low" loading="lazy")
                            p.projects__title Сайт мороженого Gllacy
                        p.projects__sub-title Другие связанные страницы:
                        ul.projects__sub-list
                            li.projects__sub-item
                                a.projects__sub-link(href="https://stas2nd.github.io/493425-gllacy/catalog.html") Каталог

              
        