doctype html
html(class="no-js", lang="ru")
    include partials/head.pug
    body
        main.main
            h1.main-title Примеры моих работ
            section
                ul.projects
                    li.projects__item 
                    li.projects__item 
                    li.projects__item 
                    li.projects__item 
                    li.projects__item 
                    li.projects__item  
              
        